.time{
    font-family:Cursive;
    font-size:40px;
    stroke:black;
    stroke-width:2;
}

.forceLine{
  stroke: #999;
  stroke-opacity: 0.6;
}

.forceCircle{
  stroke: #fff;
  stroke-width: 1.5px;
}
.forceText{
    font-family:Cursive;
    font-size:40px;
    stroke:black;
    stroke-width:2;
}


.node circle {
  fill: #999;
}
.node--internal text {
  font-weight: bold;
}

.node--leaf rect {
  fill-opacity: 0.6;
}
.node text {
  font: 10px sans-serif;
}

.node--internal circle {
  fill: #555;
}

.node--internal text {
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.link {
  fill: none;
  stroke: #555;
  stroke-opacity: 0.4;
  stroke-width: 1.5px;
}

.leaf circle {
  fill: #ff7f0e;
  fill-opacity: 1;
}

.tooltip{
    position:absolute;
    width:120px;
    height:auto;
    font-family:simsun;
    font-size:14px;
    color:white;
    text-align:center;
    border-style:solid;
    border-width:2px solid black;
    background-color:black;
    border-radius:5px;

}

.tooltip:after{
  content:'';
  position:absolute;
  bottom:100%;
  left:20%;
  margin-left:-8px;
  width:0;
  height:0;
  border-bottom:12px solid #000000;
  border-right:12px solid transparent;
  border-left: 12px solid transparent;

}

.tooltip .title{
    border-bottom:1px solid #000;
    text-align:center;
}
.tooltip .desColor{
    width:10px;
    height:10px;
    float:left;
    margin:9px 8px 1px 8px;
}

.tooltip .desText{
    display:inline;
}
.overlay {
    fill:none;
    pointer-events:all;
}

.stroke {
  fill: none;
  stroke: #000;
  stroke-width: 3px;
}

.fill {
  fill: #fff;
}

.graticule {
  fill: none;
  stroke: #777;
  stroke-width: 0.5px;
  stroke-opacity: 0.5;
}

.land {
  fill: #222;
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: 0.5px;
}
