.time{
    font-family:Cursive;
    font-size:40px;
    stroke:black;
    stroke-width:2;
}

.forceLine{
  stroke: #999;
  stroke-opacity: 0.6;
}

.forceCircle{
  stroke: #fff;
  stroke-width: 1.5px;
}
.forceText{
    font-family:Cursive;
    font-size:40px;
    stroke:black;
    stroke-width:2;
}


.node circle {
  fill: #999;
}
.node--internal text {
  font-weight: bold;
}

.node--leaf rect {
  fill-opacity: 0.6;
}
.node text {
  font: 10px sans-serif;
}

.node--internal circle {
  fill: #555;
}

.node--internal text {
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.link {
  fill: none;
  stroke: #555;
  stroke-opacity: 0.4;
  stroke-width: 1.5px;
}

.leaf circle {
  fill: #ff7f0e;
  fill-opacity: 1;
}