{% extends "home.html" %}
{% block title %}d3_01{% endblock %}

{% block content %}
<p>Hello World {{kk}}.</p>
<table>
    <tr><td><div><button type="button" id="example1">坐标和比例尺</button>
<button type="button" style="display:none" id="sort">sort</button>
<button type="button" style="display:none" id="add">add</button>

</div></td>
<td>
<div><button type="button" id="example3">散点图与动画</button>
<button type="button" style="display:none" id="updatecircle">updatecircle</button>
<button type="button" style="display:none" id="addcircle">addcircle</button>
<button type="button" style="display:none" id="removecircle">removecircle</button>
</div>
</td>
<td><div><button type="button" id="example2">折线(提示框)</button></div></td>
<td><div><button type="button" id="example4">过渡和动画</button></div></td>
<td><div><button type="button" id="example5">拖动和缩放</button><input type="button" id="big" value="big"></div></td>
<td><div><button type="button" id="example6">饼图(拖动)</button></div></td>
<td><div><button type="button" id="example7">力导向图</button></div></td>
<td><div><button type="button" id="example8">弦图</button></div></td>
<td><div><button type="button" id="example9">树状图</button></div></td>
<td><div><button type="button" id="example10">圆形树状图（have a question）</button></div></td>
<td><div><button type="button" id="example11">打包图</button></div></td>
<td><div><button type="button" id="example12">直方图</button></div></td>
<td><div><button type="button" id="example13">分区图(have a question)</button></div></td>
<td><div><button type="button" id="example14">堆栈图</button></div>
<label><input type="radio" name="mode" value="grouped"> Grouped</label>
  <label><input type="radio" name="mode" value="stacked" checked> Stacked</label>
</td>
<td><div><button type="button" id="example15">矩阵树图</button></div></td>
        </tr>
    <tr><td><button type="button" id="example16">区域选择</button></td></tr>
    </table>

{% endblock %}

{% block js %}
<link rel="stylesheet" href="/static/css/learnD3.css">
<script src="/static/topojson.v1.min.js"></script>
<!--<script src="/static/topojson.js"></script>-->
<script src="/static/learnD3.js"></script>

{% endblock%}
